fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
catboost==1.2.5
pandas==2.1.2
numpy==1.26.4
scikit-learn==1.6.1
python-multipart==0.0.6
Pillow==10.1.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.23
stop_words
pymorphy3
tqdm
mlflow==2.11.2
prometheus_fastapi_instrumentator
prometheus-client
fastparquet